body {
    font-family: 'Inter', sans-serif;
    background: #15ac65;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Animated background */
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    background: linear-gradient(270deg, #a316e4, #4b42c4, #13da7d, #3f51b5);
    background-size: 800% 800%;
    animation: gradientShift 20s ease infinite;
}

@keyframes gradientShift {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.flow-container {
    background: #ffffff;
    width: 90vw;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    box-shadow: 15px 40px 20px rgba(0, 0, 0, 0.333);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    padding: 0.25rem;
    box-sizing: border-box;
}

.logo {
    width: clamp(80px, 15vw, 120px);
}

.welcome-text {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    font-weight: 700;
    color: #2e2e2e;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    text-align: center;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-variant: small-caps;
}

.select-text {
    font-size: clamp(1.1rem, 1.6vw, 2rem);
    color: #555;
    margin-bottom: 1.25rem;
    text-align: center;
    padding:  1rem;
    border-bottom: 2px solid #eee;
    width: 80%;
}


.divider-line {
    width: 90%;
    max-width: 500px;
    height: 1px;
    background-color: #e0e0e0;
    margin: 1.5rem 0;
}


.button-grid {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
}

.flow-button {
    width: 100%;
    height: 100%;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    font-weight: bold;
    background-color: #4b42c4;
    color: white;
    border: 1.5px solid #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.flow-button:hover {
    background-color: #1204ad;
}

.flow-button:active {
    background-color: #04026d;
}
